/* IMPORT FONT */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&display=swap');

body {
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  line-height: 1.6;
  color: #333333;
  background-color: #f5f0ff;
}

/* header */
#North {
  background-color: #7c3aed;
  color: white;
  padding: 10px;
}

/* viit and hover */
a {color: #7c3aed;}
a:visited {color: #646b78;}
a:hover { color: #5b21b6;}

/* beachs */
.beach {
  background-color: white;
  padding: 10px;
}

h3 {color: #7c3aed;}

.deemphasize {color: #646b78;}

footer a {color: #646b78;}