
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
h1{
    font-family: 'DM Serif Display', serif;
    font-size: 3rem;
    color: #333;
    text-align: center;
    margin-top: 20px;
}